.loading-connectings {
    /* display: flex; */
    justify-content: center;
}

.loading-connecting {
    /* display: flex; */
    align-items: center;

}

.connecting-div {
    display: flex;
    justify-content: center;

}

.img-gif {
    width: 500px;
    /* height: 250px; */
}





